* {
    margin: 0;
    padding: 0;
}

/* header section */
.banner {
    background-image: url(../images/banner/banner1.png);

    width: 1600px;
    height: 753px;
    left: 1600px;
    top: 808px;
    background-size: cover;


}

.h1-primary {
    position: absolute;
    text-align: right;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;

}

.p-primary {
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
}

.btn-primary {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background-color: coral;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;

}

/* header section end */

/* main section start */

.main-title {
    margin: 70px;

}

.h2-primary {
    position: absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: black;
}

.p1-primary {
    position: absolute;
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    margin-bottom: 10px;
    color: #444343;
}

.list {

    position: absolute;
    width: 349px;
    height: 162px;
    left: 862px;
    top: 1416px;
    margin-bottom: 10px;
    color: #444343;


}

/* plans styles */

.section-title {
    margin-top: 130px;
    text-align: center;
}

.plan-container {
    display: flex;
    position: absolute;
    width: 1125px;
    height: 304.7px;
    left: 246px;
    top: 1792.3px;
    gap: 230px;

}

.plan-title {
    font-weight: 700;
    line-height: 35px;

}

.title-description {
    color: #737272;
    font-weight: 500;
}

/* image section */


.images-setup {
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2222.26px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/gradient2.png');
    border-radius: 8px;
}

.img-title {
    position: absolute;
    width: 459px;
    height: 94px;
    left: 294px;
    top: 2281.26px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #FFFFFF;
}

.btn-2nd {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2399.26px;
    color: #F15B22;
}


/* footer -section */
.background{
    position: absolute;
width: 1600px;
height: 577px;
left: 0px;
top: 2652.26px;
background-size: cover;
background: #151414;
}
.footer-title {
    position: absolute;
    width: 148px;
    height: 53px;
    left: 230px;
    top: 2782.26px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
   
}
.p-sub-title{
    position: absolute;
width: 485px;
height: 78px;
left: 230px;
top: 2851.26px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;

}
.info-1{
    position: absolute;
width: 184px;
height: 26px;
left: 230px;
top: 2953.26px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF
}
.info-2{
    position: absolute;
    width: 186px;
height: 26px;
left: 230px;
top: 2995.26px;

color: #FFFFFF;

}
.images{
    
position: absolute;
width: 175px;
height: 46px;
left: 230px;
top: 3053.26px;


}
.footer-sub-title{
    position: absolute;
width: 123px;
height: 29.04px;
left: 1046px;
top: 2782px;
color: #FFFFFF;
}
.form{
    position: absolute;
width: 325px;
height: 64.08px;
left: 1046px;
top: 2842.08px;

}
.btn-2nd{
    position: absolute;
width: 170.11px;
height: 64.08px;
left: 1046px;
top: 2922.18px;
background: #FFFFFF;
border-radius: 8px;
}