*{
    margin: 0;
    padding: 0;
}
/* header section */
.banner{
    background-image: url(../images/banner/banner1.png);
   
    width: 1600px;
    height: 753px;
    left: 1600px;
    top: 808px;
      
}
.h1-primary{
    position: absolute;
text-align: right;
font-weight: 700;
font-size: 65px;
line-height: 76px;
color: #151414;
width: 525px;
height: 228px;
left: 845px;
top: 216px;

}
.p-primary{
    text-align: right;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;
position: absolute;
width: 494px;
height: 78px;
left: 876px;
top: 468px;
}
.btn-primary{
    position: absolute;
    width: 160px;
height: 64px;
left: 1210px;
top: 578px;
background-color: coral;
color: aliceblue;
font-size: 20px;
font-weight: 600;

}
/* header section end */

/* main section start */

.main-title{
    margin: 70px;
    
}
.h2-primary{
    position: absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: black;
}
.p1-primary{
    position: absolute;
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
   margin-bottom: 10px;
    color: #444343;
}
.list{
    
position: absolute;
width: 349px;
height: 162px;
left: 862px;
top: 1416px;
margin-bottom: 10px;
color: #444343;


}                
/* plans styles */

.section-title{
    margin-top: 130px;
    text-align: center;
}
.plan-container{
    display: flex;
    position: absolute;
    width: 1125px;
    height: 304.7px;
    left: 246px;
    top: 1792.3px;
    gap: 230px;
    
}
.plan-title{
    font-weight: 700;
    line-height: 35px;
}
.title-description{
    color: #737272;
font-weight: 500;
    
}



